@media (max-width: 767px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #f33863;
    width: 100%;
    height: 65px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .04);
    position: fixed;
    z-index: 1000;
}

header > div {
    text-align: center;
    margin-top: 28px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 5px 0 5px;
}

div.beijing {
    background-color: #5c31f2;
    width: 100%;
    height: 180px;
    margin-top: 65px;
}

div > a > img.img-responsive {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    height: 93px;
    width: 93px;
}

div > div >.shu {
    text-align: center;
    color: white;
    font-size: 15px;
    position: relative;
    top: 4px;
}

div > div >.zi {
    text-align: center;
    color: white;
    font-size: 15px;
    position: relative;
    top: 3px;
}

div > div >.zi1 {
    text-align: center;
    color: white;
    font-size: 19px;
    position: relative;
    bottom: 0px;
}

.beijing > div > a {
    text-decoration: none;
}

div.beijing2 {
    background-color: #5c31f2;
    width: 100%;
    height: 60px;
    /*    margin-top: 10px;
    margin-bottom: 10px;*/
}

div > a.tubiao {
    text-align: center;
    color: white;
    position: relative;
    top: 5px;
}

div > a > img.tubiao1 {
    height: 27px;
    width: 29px;
}

.zi7 {
    font-size: 8px;
}

a.massive > span.zi3 {
    font-size: 16px;
    color: #9d9d9d;
    padding-left: 12px;
}

div > a > span.zi4 {
    position: relative;
    right: 80px;
}

a.massive {
    display: block;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
}

a.massive:hover {
    text-decoration: none;
}
a.massive::visited {
    text-decoration: none;
}

div > a > span.zi8 {
    color: #969696;
    font-size: 17px;
    position: relative;
    top: 65px;
    right: 0px;
}

footer > a {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

footer > a:active {
    border-bottom: 3px solid #f33863;
    text-decoration: none;
}

footer > a:hover {
    border-bottom: 3px solid #f33863;
    text-decoration: none;
}

footer > a > img {
    width: 24px;
    height: 21px;
}

footer > a > img.img_logo {
    width: 30px;
}

footer > a > span {
    color: #969696;
    font-size: 10px;
}

footer > a > span.active {
    color: #f33863;
}

footer {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 6px #5c31f2;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

footer > a {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

footer > a:hover {
    border-bottom: 3px solid #f33863;
    text-decoration: none;
}

footer > a > img {
    width: 23px;
    height: 21px;
}

footer > a > img.img_logo {
    width: 30px;
}

footer > a > span {
    color: #969696;
    font-size: 10px;
}

footer > a.active >span {
    color: #f33863;
}

footer > a.active {
    border-bottom: 3px solid #f33863;
}

div > a.tubiao {
    text-decoration: none;
}

.hr1 {
    width: 100%;
    height: 7px;
    background-color: #f6fafd;
    margin: 0;
}

.kuang > .modal > .modal-dialog {
    margin: 115px;
}

.kuang > .modal > .modal-dialog > .modal-content {
    background-color: black;
}

.modal-body > img {
    width: 60px;
    margin: 0 26px;
}

.modal-body > p {
    margin: 10px 0;
    color: white;
    text-align: center;
}