@media (max-width: 767px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6fafd;
}

header {
    background-color: #f33863;
    width: 100%;
    height: 65px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .04);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header > div {
    margin-top: 27px;
}

header > div > a {
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 5px 0 5px;
}

header > div > a:hover {
    color: white;
    text-decoration: none;
}


/*.search {
    width: 24px;
    height: 24px;
    margin: 30px 0 0 0;
}*/

.downheader {
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    position: fixed;
    top: 65px;
    border-bottom: 1px solid #cacdcf;
    z-index: 1000;
}

.downheader > a {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    color: #7b94a0;
    line-height: 27px;
    text-decoration: none;
}

.downheader > a.active {
    border-bottom: 3px solid #5c31f2;
}

.content > p {
    color: #7b94a0;
    font-size: 16px;
    margin: 20px 0 10px 15px;
}

.content {
    margin-top: 110px;
    position: relative;
}

.content > div > .b1 {
    padding: 10px 3px 0 5px;
}

.content> div > .b2 {
    padding: 10px 5px 0 3px;
}

.contenton {
    margin: 10px 0 10px 0;
    position: relative;
}

.contenton> div > .b1 {
    padding: 10px 3px 0 5px;
}

.contenton > div > .b2 {
    padding: 10px 5px 0 3px;
}

.contenthou {
    margin: 10px 0 98px 0;
    position: relative;
}

.contenthou > div > .b1 {
    padding: 10px 3px 0 5px;
}

.contenthou > div > .b2 {
    padding: 10px 5px 0 3px;
}

.l1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.l2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.l1 > a {
    display: block;
    text-decoration: none;
}

.touxiang {
    position: absolute;
    bottom: 4px;
    left: 8px;
    width: 20px
}

.name {
    position: absolute;
    bottom: 4px;
    left: 10px;
    color: white;
}

.like {
    position: absolute;
    bottom: 13px;
    right: 13px;
    width: 15px;
}

.circle {
    position: fixed;
    bottom: 57px;
    right: 67px;
    z-index: 2000;
}

.circle > a >img {
    width: 55px;
}

.upfooter {
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    position: fixed;
    bottom: 50px;
    z-index: 100;
}

.upfooter > a {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    color: #f33863;
    text-decoration: none;
}

.upfooter > a:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
}

footer {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 6px #5c31f2;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

footer > a {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

footer > a:active {
    border-bottom: 3px solid #f33863;
    text-decoration: none;
}

footer > a > img {
    width: 23px;
    height: 21px;
}

footer > a > img.img_logo {
    width: 30px;
}

footer > a > span {
    color: #969696;
    font-size: 10px;
}

footer > a.active >span {
    color: #f33863;
}

footer > a.active {
    border-bottom: 3px solid #f33863;
}