<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/addition.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="../resources/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../resources/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="background1">
    <span class="col-xs-12 text">恭喜!又多了套搭配</span>
    <div class="p">
        <div class="bottom">
            <span class=" col-xs-12 text2">信息</span>
        </div>
        <div class="top1">
            <div class="element1">
                <span class=" col-xs-12 text3">输入名字</span>
                <input type="text" class="col-xs-12 input1">
            </div>
            <div class="btn-group">
                <div class="col-xs-4">
                    <button data-toggle="dropdown" class="btn btn-link dropdown-toggle text3" type="button">季节<span class="caret ca-right"></span></button>
                    <ul class="dropdown-menu center">
                        <li><a href="#">春</a></li>
                        <li><a href="#">夏</a></li>
                        <li><a href="#">秋</a></li>
                        <li><a href="#">冬</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <button data-toggle="dropdown" class="btn btn-link dropdown-toggle text3" type="button">风格<span class="caret ca-right"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 text4">
                    <button data-toggle="dropdown" class="btn btn-link dropdown-toggle text3" type="button">颜色<span class="caret ca-right"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 element1">
                <input type="text" class="input2">
            </div>
            <div class="col-xs-4 left1">
                <input type="text" class="input2">
            </div>
            <div class="col-xs-4 left2">
                <input type="text" class="input2">
            </div>
            <div class="element1 top">
                <span class=" col-xs-12 text3">写点什么</span>
                <input type="text" class="col-xs-12 input3">
            </div>

            <div>
                <a href="suiji.html"><button class="btn1">取消</button></a>
                <a href="main.html"><button class="btn2">确定</button></a>
            </div>
        </div>
    </div>

    </div>
</body>

</html>