<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/ceshi.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/font-awesome/css/font-awesome.min.css">
    <script src="../resources/js/jquery-1.12.3.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="col-xs-1">
            <a href="gerenzhongxin.html"><img src="../resources/img/16.1.png" alt="" style="width: 13px;"></a>
        </div>
        <div class="col-xs-5 col-xs-offset-3">
            <a href="#">穿衣测试</a>
        </div>
    </header>
    <div class="card col-xs-12">
        <div class="baogao col-xs-12">
            <div class="baogao_top">
                <p class="p1">穿衣定制报告</p>
                <p class="p2">FASHION CUSTOM REPORTS</p>
            </div>
            <div class="baogao_xian"></div>
            <div class="baogao_main">
                <div class="pic">
                    <img src="../resources/img/10.1.png" alt="">
                    <span class="height">160CM</span>
                    <span class="weight">50KG</span>
                </div>
                <div class="content">
                    <p class="p3">我的档案</p>
                    <p>年龄: 21岁</p>
                    <p>BMI: 19.0</p>
                    <div class="clearfix">
                        <div class="biaoqian ">
                            <span class="s1 ">体型:</span>
                            <span class="s2 ">正常</span>
                        </div>
                        <div class="biaoqian ">
                            <span class="s1 ">肤色:</span>
                            <span class="s2 ">偏白</span>
                        </div>
                        <div class="biaoqian ">
                            <span class="s1 ">身形:</span>
                            <span class="s2 ">梨形</span>
                        </div>
                        <div class="biaoqian ">
                            <span class="s1 ">脸型:</span>
                            <span class="s2 ">圆形脸</span>
                        </div>
                        <div class="biaoqian ">
                            <span class="s1 ">风格:</span>
                            <span class="s2 ">简约,休闲</span>
                        </div>
                        <div class="clear "></div>
                    </div>

                    <a href="# " class="a1 ">重新测试</a>
                    <a href="# " class="a2 ">邀请闺蜜一起测</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-xs-12">
        <div class="tixing col-xs-12 ">
            <div class="title ">体型修饰方案</div>
            <div class="advice ">
                <p class="p4 ">搭配建议</p>
                <p class="p5 ">A字裙和高腰裙是梨型身材MM的必备款，尽量避免穿 紧身显臀胯的服饰。你的穿衣重点是：让视觉上移.</p>
            </div>
            <div class="key clearfix">
                <p class="p6 ">穿搭关键词</p>
                <div class="yifu ">
                    <img src="../resources/img/10.3.png " alt=" "><br><a href="# ">A字裙</a>
                </div>
                <div class="yifu ">
                    <img src="../resources/img/10.4.png " alt=" "><br><a href="# ">腰带</a>
                </div>
                <div class="yifu ">
                    <img src="../resources/img/10.5.png " alt=" "><br><a href="# ">阔腿裤</a>
                </div>
                <div class="clear "></div>
            </div>
            <div class="jinqu clearfix">
                <p class="p7 ">禁区</p>
                <div class="yifu ">
                    <img src="../resources/img/10.6.png " alt=" "><br><a href="# ">包臀裙</a>
                </div>
                <!--             <div class="yifu ">
                <img src="../resources/img/10.7.png " alt=" "><br><a href="# ">腰带</a>
            </div>
            <div class="yifu ">
                <img src="../resources/img/10.8.png " alt=" "><br><a href="# ">阔腿裤</a>
            </div>
            <div class="yifu ">
                <img src="../resources/img/10.9.png " alt=" "><br><a href="# ">阔腿裤</a>
            </div>
 -->
                <div class="clear "></div>
            </div>

        </div>
    </div>
    <div class="card col-xs-12">
        <div class="tixing col-xs-12 ">
            <div class="title ">脸型修饰方案</div>
            <div class="advice ">
                <p class="p4 ">搭配建议</p>
                <p class="p5 ">完美的鹅蛋脸，不挑领口，也不挑发行！在发型上可以 考虑卷发，更显示成熟风情哦。</p>
            </div>
            <div class="key clearfix">
                <p class="p6 ">穿搭关键词</p>
                <div class="yifu ">
                    <img src="../resources/img/10.3.png " alt=" "><br><a href="# ">A字裙</a>
                </div>
                <div class="yifu ">
                    <img src="../resources/img/10.4.png " alt=" "><br><a href="# ">腰带</a>
                </div>
                <div class="yifu ">
                    <img src="../resources/img/10.5.png " alt=" "><br><a href="# ">阔腿裤</a>
                </div>
                <div class="clear "></div>
            </div>

        </div>
        <div class="tixing col-xs-12 ">
            <div class="title ">你的搭配关键词</div>
            <div class="advice ">
                <p class="p8 ">点击关键词，寻找最适合您的搭配</p>
            </div>
            <div class="key clearfix">
                <p class="p9 ">上衣</p>
                <div class="yifu ">
                    <a href="# ">V领</a>
                    <a href="# ">遮大胸</a>
                </div>

                <div class="clear "></div>
            </div>
            <div class="key clearfix">
                <p class="p9 ">下装</p>
                <div class="yifu ">
                    <a href="# ">A字裙</a>
                    <a href="# ">遮大腿</a>
                </div>

                <div class="clear "></div>
            </div>

        </div>
        <div class="tixing col-xs-12 ">
            <div class="title ">脸型修饰方案</div>
            <div class="advice ">
                <p class="p4 ">搭配建议</p>
                <p class="p5 ">完美的鹅蛋脸，不挑领口，也不挑发行！在发型上可以 考虑卷发，更显示成熟风情哦。</p>
            </div>
            <div class="key clearfix">
                <p class="p6 ">穿搭关键词</p>
                <div class="yifu ">
                    <img src="../resources/img/10.3.png " alt=" "><br><a href="# ">A字裙</a>
                </div>
                <div class="yifu ">
                    <img src="../resources/img/10.4.png " alt=" "><br><a href="# ">腰带</a>
                </div>
                <div class="yifu ">
                    <img src="../resources/img/10.5.png " alt=" "><br><a href="# ">阔腿裤</a>
                </div>
                <div class="clear "></div>
            </div>

        </div>
        <div class="tixing col-xs-12 ">
            <div class="title ">你的搭配关键词</div>
            <div class="advice ">
                <p class="p8 ">点击关键词，寻找最适合您的搭配</p>
            </div>
            <div class="key clearfix">
                <p class="p9 ">上衣</p>
                <div class="yifu ">
                    <a href="# ">V领</a>
                    <a href="# ">遮大胸</a>
                </div>

                <div class="clear "></div>
            </div>
            <div class="key clearfix">
                <p class="p9 ">下装</p>
                <div class="yifu ">
                    <a href="# ">A字裙</a>
                    <a href="# ">遮大腿</a>
                </div>

                <div class="clear "></div>
            </div>

        </div>
    </div>

</body>

</html>