<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/dapeishi.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="../resources/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/js/dapeishi.js"></script>
    <script src="cordova.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
   /* document.addEventListener("deviceready", onDeviceReady, false); 
    function onConfirm() {

    }
    function showConfirm() {
         navigator.notification.confirm(
            ' ',     
            onConfirm,                            
            '确定不再关注此人？',                               
            ['取消','确定']                   
        );
    }*/
</script>
</head>

<body class="beijing">
    

    <header>
        <div class="col-xs-4">
            <a href="tuijian.html"><img src="../resources/img/15.1.png" class="img1"></a>
        </div>
        <div class="col-xs-4 search">搭配师</div>
        <div class="col-xs-4"></div>
    </header>
    <div>
        <img src="../resources/img/15.5.png" class="photo1">
        <span class="name">刘岩</span><br/>
        <span class="name2">我叫刘美丽</span>
        <span ><img onclick="showConfirm();" data-toggle="modal" data-target="#myModal" src="../resources/img/guanzhu3.png" class="tubiao"></span>

<!-- 
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 230px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="text" id="myModalLabel" class="text">确定不再关注此人?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default left" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消</button>
          <button type="button" id="btn_submit" class="btn right" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确定</button>
        </div>
      </div>
    </div>
  </div> -->

            
        <hr class="hr1">
    </div>
    <div>
        <img src="../resources/img/8.6.png" class="photo2">
        <span class="name3">刘岩</span><br/>
        <span><img src="../resources/img/guanzhu3.png" class="tubiao1"></span>
        <hr class="hr2">
    </div>
    <div class="top3">
        <img src="../resources/img/8.1.png" class="photo1">
        <span class="name">刘美丽</span><br/>
        <span class="name2">快来观看我的穿衣搭配</span>
        <span><img src="../resources/img/guanzhu2.png" class="tubiao2"></span>
        <hr class="hr1">
    </div>
    <div class="top3">
        <img src="../resources/img/8.6.png" class="photo1">
        <span class="name">柠檬</span><br/>
        <span class="name2">向大家安利一个神器</span>
        <span><img src="../resources/img/guanzhu2.png" class="tubiao3"></span>
        <hr class="hr1">
    </div>
    <div class="top3">
        <img src="../resources/img/15.5.png" class="photo1">
        <span class="name">芒果小丸子</span><br/>
        <span class="name2">活泼开朗小可爱</span>
        <span><img src="../resources/img/guanzhu3.png" class="tubiao4"></span>
        <hr class="hr1">
    </div>
    <div>
        <img src="../resources/img/8.1.png" class="photo2">
        <span class="name3">穿衣搭配师</span><br/>
        <span><img src="../resources/img/guanzhu3.png" class="tubiao5"></span>
        <hr class="hr2">
    </div>
    <div class="top3">
        <img src="../resources/img/17.2.png" class="photo1">
        <span class="name">樱桃小丸子</span><br/>
        <span class="name2">每天都开心呢</span>
        <span><img src="../resources/img/guanzhu2.png" class="tubiao6"></span>
        <hr class="hr1">
    </div>
    <div class="top3">
        <img src="../resources/img/18.1.png" class="photo1">
        <span class="name">无心插柳柳橙汁</span><br/>
        <span class="name2">给我一个SSR</span>
        <span><img src="../resources/img/guanzhu2.png" class="tubiao7"></span>
        <hr class="hr1">
    </div>
    <div class="top3">
        <img src="../resources/img/8.1.png" class="photo1">
        <span class="name">搭配师</span><br/>
        <span class="name2">福利</span>
        <span><img src="../resources/img/guanzhu2.png" class="tubiao8"></span>
        <hr class="hr1">
    </div>
</body>
</html>