<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/dingzhi.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="../resources/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
</head>

<body class="beijing">
    <header>
        <div class="col-xs-4">
            <a href="tuijian.html"><img src="../resources/img/17.1.png" class="img1"></a>
        </div>
        <div class="col-xs-4 search">专属制定</div>
        <div class="col-xs-4"></div>
    </header>
    <div>
        <p class="zi">基本布料</p>
        <div class="t">
            <div class="e">
                <img src="../resources/img/buliao1.jpeg">
                <img src="../resources/img/buliao2.jpeg">
                <img src="../resources/img/buliao4.jpeg">
                <img src="../resources/img/buliao3.jpeg">

            </div>
        </div>

    </div>

    <hr class="hr1">
    <div>
        <p class="zi2">颜色</p>
        <form action="demo_form.asp">
            请选择颜色: <input type="color" name="favcolor" class="color" /><br />
        </form>
    </div>
    <hr class="hr2">
    <div>
        <p class="zi3">款式</p>
        <p class="zi4">上衣</p>
        <div class="yifu ">
            <a href="# ">V领</a>
            <a href="# ">遮大胸</a>
        </div>
        <p class="zi5">下装</p>
        <div class="yifu ">
            <a href="# ">A字裙</a>
            <a href="# ">遮大腿</a>
        </div>
    </div>
    <hr class="hr3">
    <div>
        <a href="# " class="zi6">联系设计师</a>
    </div>
</body>

</html>