<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/jinri.css" rel="stylesheet">
    <script src="../resources/js/jquery-1.12.3.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="col-xs-1">
            <a href="main.html"><img src="../resources/img/17.1.png" alt="" style="width: 13px;"></a>
        </div>
        <div class="col-xs-5 col-xs-offset-3">
            <a href="#">今日天气</a>
        </div>

    </header>
    <div class="card col-xs-12">
        <div class="baogao col-xs-12">
            <div class="baogao_top">
                <p class="p1">今日天气</p>
                <p class="p2">FASHION CUSTOM REPORTS</p>
            </div>
            <div class="baogao_xian"></div>
            <p class="p3">15°C</p>
            <div class="baogao_1">
                <img src="../resources/img/17.9.png" alt="" class="tu1">
                <hr class="h1">
                <span class="sp1">长春</span>
                <span class="sp2">11-24°</span>
                <br>
            </div>
        </div>
        <div class="tixing col-xs-12 ">
            <div class="title ">搭配推荐</div>
            <div class="advice clearfix">
                <ul>
                    <li class="li_1">
                        <div>
                            <img src="../resources/img/17.4.png" alt="" class="tu2">
                            <span class="sp3">半袖</span><br><span class="sp4">当前温度21°建议长袖外出</span>
                        </div>
                    </li>
                    <li class="li_1">
                        <div>
                            <img src="../resources/img/17.5.png" alt="" class="tu2">
                            <span class="sp3">短裙</span><br><span class="sp4">建议穿个性短裙外出</span>
                        </div>
                    </li>
                    <li class="li_1">
                        <div>
                            <img src="../resources/img/17.6.png" alt="" class="tu2">
                            <span class="sp3">单鞋</span><br><span class="sp4">建议穿单鞋类外出</span>
                        </div>
                    </li>
                    <li class="li_1">
                        <div>
                            <img src="../resources/img/17.7.png" alt="" class="tu2">
                            <span class="sp3">墨镜</span><br><span class="sp4">当前阳光强，适合戴墨镜</span>
                        </div>
                    </li>
                    <li class="li_1">
                        <div>
                            <img src="../resources/img/17.8.png" alt="" class="tu2">
                            <span class="sp3">保湿</span><br><span class="sp4">天气较好，风稍大，适合保湿</span>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="ddd">
                <a href="suiji.html"><button class="but">去搭配</button></a>
            </div>
        </div>

    </div>
    </div>
    </div>


</body>

</html>