<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/message.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="../resources/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
</head>

<body class="beijing">
    <header>
        <div class="col-xs-4">
            <a href="gerenzhongxin.html"><img src="../resources/img/17.1.png" class="img1"></a>
        </div>
        <div class="col-xs-4 search">消息</div>
        <div class="col-xs-4"></div>
    </header>
    <div class="button1">
        <a href="#" class="col-xs-6 white active"><span class="zi" style="color: #f33863;">系统</span></a>
        <a href="#" class="col-xs-6 white"><span class="zi">回复</span></a>
    </div>
    <div class="">
        <img src="../resources/img/loge.png" class="img">
        <p class="zi1">私橱官网<span class="zi2">一分钟前</span></p>
        <p class="zi3">xxxxxxxxxxxxxx</p>
    </div>
</body>

</html>