<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/post.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="../resources/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../resources/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="col-xs-4">
            <a href="dongtai.html"><img src="../resources/img/15.1.png" class="img1"></a>
        </div>
        <div class="col-xs-4 search">帖子详情</div>
        <div class="col-xs-4"></div>
    </header>
    <div>
        <img src="../resources/img/15.5.png" class="photo1">
        <span class="name">刘岩</span><br/>
        <span class="name2">我叫刘美丽</span>
        <div class="summer">
            <p class="summer1">夏日搭配技巧<span class="hour">16小时前</span></p>
            <textarea class="col-xs-12 kuang" rows="7"></textarea>
            <p class="report">举报<span class="tubiao">
                      <img src="../resources/img/15.6.png" class="xiaotubiao">分享
                      <img src="../resources/img/15.7.png" class="xiaotubiao">2
                      <img src="../resources/img/15.8.png" class="xiaotubiao">7</span>
            </p>
        </div>
    </div>
    <div class="col-xs-12 xian"></div>

    <div>
        <p class="commentate">精彩评论<span class="more"><a href="#">更多</a></span></p>
        <div class="top1">
            <img src="../resources/img/15.3.png" class="photo2">
            <span class="name4">刘岩</span><br/>
            <span class="name5">我叫刘美丽</span>
            <span class="hour2">16分钟前</span>
            <div class="summer">
                <span class="summer2">夏日搭配技巧夏日搭配技巧夏日搭配技巧夏日搭配技巧
           </span>
                <p class="report1">举报<span class="tubiao1">
           <img src="../resources/img/15.9.png" class="xiaotubiao1 litter">回复
           <img src="../resources/img/15.8.png" class="xiaotubiao1">7</span>
                </p>
            </div>
        </div>
        <div class="col-xs-12 xian1"></div>
        <div class="top1 shang">
            <img src="../resources/img/15.4.png" class="photo3">
            <span class="name4">刘岩</span><br/>
            <span class="name5">我叫刘美丽</span>
            <span class="hour2">16分钟前</span>
            <div class="summer">
                <span class="summer2">夏日搭配技巧夏日搭配技巧夏日搭配技巧夏日搭配技巧
           </span>
                <p class="report1">举报<span class="tubiao1">
           <img src="../resources/img/15.9.png" class="xiaotubiao1 litter">回复
           <img src="../resources/img/15.8.png" class="xiaotubiao1">7</span>
                </p>
            </div>
        </div>
        <div class="col-xs-12 xian2"></div>
        <footer class="bt2">
            <div class="dianzan">
                <a href="" class="a_left col-xs-4">点赞</a>
                <a href="" class="a_center col-xs-4">回复</a>
                <a href="" class="a_right col-xs-4">收藏</a>
            </div>
        </footer>

</body>

</html>