<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/shoucang1.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="../resources/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
</head>

<body class="beijing">
    <header>
        <div class="col-xs-4">
            <a href="gerenzhongxin.html"><img src="../resources/img/17.1.png" class="img1"></a>
        </div>
        <div class="col-xs-4 search">收藏</div>
        <div class="col-xs-4"></div>
    </header>
    <div class="">
        <img src="../resources/img/touxiang.png" class="img">
        <p class="zi1">帖子名称</p>
        <p class="zi3">xxxxxxxx</p>
    </div>
</body>

</html>