<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/welcome.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="../resources/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../resources/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="bo col-xs-12">
        <a href="gerenzhongxin.html" class="welcome">欢迎来到私橱~</a>
    </div>
</body>

</html>