<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/xinxi.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/font-awesome/css/font-awesome.min.css">
    <script src="../resources/js/jquery-1.12.3.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>


<body>
    <header>
        <div class="col-xs-6 col-xs-offset-4">
            <a href="main.html">用户登录</a>
        </div>

    </header>
    <div class="main col-xs-12 has-feedback">
        <form>
            <input type="text" name="" value="" id="iphone" placeholder="手机号" class="col-xs-12 inp">
            <img src="../resources/img/peo.png" class="form-control-feedback img1" alt="">
            <input type="password" name="" value="" placeholder="密码" class="col-xs-12 inp">
            <img src="../resources/img/pass.png" class="form-control-feedback img2" alt="">
        </form>
    </div>
    <p class="col-xs-12 forget"><a href="yanzheng.html">忘记密码?</a> <a href="main.html" style="margin-left: 5%;">随便看看</a></p>
    <div class="col-xs-12 ">
        <span href="" class="col-xs-12 login" id="login" onclick="isMobil()">登录</span>
        <span href="" class="col-xs-12 login" style="margin-top: 10px;"><a href="yanzheng1.html" style="color:white;text-decoration: none;">注册</a></span>

        <!--<span href="" class="col-xs-6 login" id="login" onclick="isMobil()" style="border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;border-right: 1px white ;">登录</span>
        <span href="" class="col-xs-6 login" style="border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;">注册</span>-->
    </div>
    <p class="col-xs-12 warning" id="warning" style="display: none;">请输入正确的用户名和密码！</p>
    <div class="col-xs-12">
        <div class="col-xs-12 fast">
            <span>快速登录</span>
        </div>
        <div class="clearfix in">
            <a href="gerenzhongxin.html" class="tu"><img src="../resources/img/QQ.png" alt=""></a>
            <a href="gerenzhongxin.html" class="tu"><img src="../resources/img/wechat.png" alt=""></a>
            <a href="gerenzhongxin.html" class="tu"><img src="../resources/img/weibo.png" alt=""></a>
            <div class="clear"></div>
        </div>

    </div>
    <script src="../resources/js/xinxi.js"></script>
</body>

</html>