<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/zan.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="../resources/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
</head>

<body class="beijing">
    

    <header>
        <div class="col-xs-4">
            <a href="gerenzhongxin.html"><img src="../resources/img/15.1.png" class="img1"></a>
        </div>
        <div class="col-xs-4 search">获赞</div>
        <div class="col-xs-4"></div>
    </header>
    <div>
        <img src="../resources/img/15.5.png" class="photo1">
        <span class="name">刘岩</span><br/>
        <span class="name2">我叫刘美丽</span>
        <hr class="hr1">
    </div>
    <div>
        <img src="../resources/img/8.6.png" class="photo2">
        <span class="name3">刘岩</span><br/>
        <hr class="hr2">
    </div>
    <div class="top3">
        <img src="../resources/img/8.1.png" class="photo1">
        <span class="name">刘美丽</span><br/>
        <span class="name2">快来观看我的穿衣搭配</span>
        <hr class="hr1">
    </div>
    <div class="top3">
        <img src="../resources/img/8.6.png" class="photo1">
        <span class="name">柠檬</span><br/>
        <span class="name2">向大家安利一个神器</span>
        <hr class="hr1">
    </div>
    <div class="top3">
        <img src="../resources/img/15.5.png" class="photo1">
        <span class="name">芒果小丸子</span><br/>
        <span class="name2">活泼开朗小可爱</span>
        <hr class="hr1">
    </div>
    <div>
        <img src="../resources/img/8.1.png" class="photo2">
        <span class="name3">穿衣搭配师</span><br/>
        <hr class="hr2">
    </div>
    <div class="top3">
        <img src="../resources/img/17.2.png" class="photo1">
        <span class="name">樱桃小丸子</span><br/>
        <span class="name2">每天都开心呢</span>
        <hr class="hr1">
    </div>
    <div class="top3">
        <img src="../resources/img/18.1.png" class="photo1">
        <span class="name">无心插柳柳橙汁</span><br/>
        <span class="name2">给我一个SSR</span>
        <hr class="hr1">
    </div>
    <div class="top3">
        <img src="../resources/img/8.1.png" class="photo1">
        <span class="name">搭配师</span><br/>
        <span class="name2">福利</span>
        <hr class="hr1">
    </div>