<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/zhida-03.css" rel="stylesheet">
    <script src="../resources/js/jquery-1.12.3.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <a href="search.html" class="col-xs-3"><img src="../resources/img/_0033.png" alt="" class=" search"></a>
        <div class="col-xs-5 col-xs-offset-1">
            <a href="tuijian.html">推荐</a>
            <a href="zhida-03.html" class="zhida">智搭</a>
        </div>
    </header>
    <div class="downheader">
        <a href="#" class="col-xs-3"><span>季节</span></a>
        <a href="#" class="col-xs-3"><span>场景</span></a>
        <a href="#" class="col-xs-3"><span>效果</span></a>
        <a href="#" class="col-xs-3"><span>颜色</span></a>
    </div>
    <div class="content">
        <div class="clearfix">
            <img src="../resources/img/2.2.png" alt="" class="col-xs-6 b1">
            <div class="l1 col-xs-6">
                <a href=""><img src="../resources/img/2.4.png" alt="" class="touxiang"><span class="name">ZARA</span></a>
                <a ><img src="../resources/img/2.5.png" alt="" class="like" id="like1"></a>
            </div>
            <img src="../resources/img/2.6.png" alt="" class="col-xs-6 b2">
            <div class="l2 col-xs-6">
                <a href=""><img src="../resources/img/2.4.png" alt="" class="touxiang"><span class="name">ZARA</span></a>
                <a ><img src="../resources/img/2.5.png" alt="" class="like" id="like2"></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="contenton">
        <div class="clearfix">
            <img src="../resources/img/2.2.png" alt="" class="col-xs-6 b1">
            <div class="l1 col-xs-6">
                <a href=""><img src="../resources/img/2.4.png" alt="" class="touxiang"><span class="name">ZARA</span></a>
                <a ><img src="../resources/img/2.5.png" alt="" class="like" id="like3"></a>
            </div>
            <img src="../resources/img/2.6.png" alt="" class="col-xs-6 b2">
            <div class="l2 col-xs-6">
                <a href=""><img src="../resources/img/2.4.png" alt="" class="touxiang"><span class="name">ZARA</span></a>
                <a ><img src="../resources/img/2.5.png" alt="" class="like" id="like4"></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="contenton">
        <div class="clearfix">
            <img src="../resources/img/2.2.png" alt="" class="col-xs-6 b1">
            <div class="l1 col-xs-6">
                <a href=""><img src="../resources/img/2.4.png" alt="" class="touxiang"><span class="name">ZARA</span></a>
                <a ><img src="../resources/img/2.5.png" alt="" class="like" id="like5"></a>
            </div>
            <img src="../resources/img/2.6.png" alt="" class="col-xs-6 b2">
            <div class="l2 col-xs-6">
                <a href=""><img src="../resources/img/2.4.png" alt="" class="touxiang"><span class="name">ZARA</span></a>
                <a ><img src="../resources/img/2.5.png" alt="" class="like" id="like6"></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="contenthou">
        <div class="clearfix">
            <img src="../resources/img/2.8.png" alt="" class="col-xs-6 b1">
            <div class="l1 col-xs-6">
                <a href=""><img src="../resources/img/2.4.png" alt="" class="touxiang"><span class="name">ZARA</span></a>
                <a ><img src="../resources/img/2.5.png" alt="" class="like" id="like7"></a>
            </div>
            <img src="../resources/img/2.10.png" alt="" class="col-xs-6 b2">
            <div class="l2 col-xs-6">
                <a href=""><img src="../resources/img/2.4.png" alt="" class="touxiang"><span class="name">ZARA</span></a>
                <a ><img src="../resources/img/2.5.png" alt="" class="like" id="like8"></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer>
        <a href="main.html" class="col-xs-3"><img src="../resources/img/_0004.png" alt="" class="img_logo"><br><span>衣橱</span></a>
        <a href="tuijian.html" class="col-xs-3 active"><img src="../resources/img/_0001.png" alt=""><br><span>发现</span></a>
        <a href="dongtai.html" class="col-xs-3"><img src="../resources/img/_0003.png" alt=""><br><span>动态</span></a>
        <a href="gerenzhongxin.html" class="col-xs-3"><img src="../resources/img/_0002.png" alt=""><br><span>个人</span></a>
    </footer>
    <script>
        $(document).ready(function() {
            var x = 0;
            $("#like1").click(function() {
                if (x == 0) {
                    x = 1;
                    a();
                } else if (x == 1) {
                    x = 0;
                    b();
                }
            })

            function a() {
                $("#like1").attr('src', '../resources/img/2.12.png');
            }


            function b() {
                $("#like1").attr('src', '../resources/img/2.5.png');
            }



        })
        $(document).ready(function() {
            var x = 0;
            $("#like2").click(function() {
                if (x == 0) {
                    x = 1;
                    a();
                } else if (x == 1) {
                    x = 0;
                    b();
                }
            })

            function a() {
                $("#like2").attr('src', '../resources/img/2.12.png');
            }


            function b() {
                $("#like2").attr('src', '../resources/img/2.5.png');
            }



        })
        $(document).ready(function() {
            var x = 0;
            $("#like3").click(function() {
                if (x == 0) {
                    x = 1;
                    a();
                } else if (x == 1) {
                    x = 0;
                    b();
                }
            })

            function a() {
                $("#like3").attr('src', '../resources/img/2.12.png');
            }


            function b() {
                $("#like3").attr('src', '../resources/img/2.5.png');
            }



        })
        $(document).ready(function() {
            var x = 0;
            $("#like4").click(function() {
                if (x == 0) {
                    x = 1;
                    a();
                } else if (x == 1) {
                    x = 0;
                    b();
                }
            })

            function a() {
                $("#like4").attr('src', '../resources/img/2.12.png');
            }


            function b() {
                $("#like4").attr('src', '../resources/img/2.5.png');
            }



        })
        $(document).ready(function() {
            var x = 0;
            $("#like5").click(function() {
                if (x == 0) {
                    x = 1;
                    a();
                } else if (x == 1) {
                    x = 0;
                    b();
                }
            })

            function a() {
                $("#like5").attr('src', '../resources/img/2.12.png');
            }


            function b() {
                $("#like5").attr('src', '../resources/img/2.5.png');
            }



        })
        $(document).ready(function() {
            var x = 0;
            $("#like6").click(function() {
                if (x == 0) {
                    x = 1;
                    a();
                } else if (x == 1) {
                    x = 0;
                    b();
                }
            })

            function a() {
                $("#like6").attr('src', '../resources/img/2.12.png');
            }


            function b() {
                $("#like6").attr('src', '../resources/img/2.5.png');
            }



        })
        $(document).ready(function() {
            var x = 0;
            $("#like7").click(function() {
                if (x == 0) {
                    x = 1;
                    a();
                } else if (x == 1) {
                    x = 0;
                    b();
                }
            })

            function a() {
                $("#like7").attr('src', '../resources/img/2.12.png');
            }


            function b() {
                $("#like7").attr('src', '../resources/img/2.5.png');
            }



        })
        $(document).ready(function() {
            var x = 0;
            $("#like8").click(function() {
                if (x == 0) {
                    x = 1;
                    a();
                } else if (x == 1) {
                    x = 0;
                    b();
                }
            })

            function a() {
                $("#like8").attr('src', '../resources/img/2.12.png');
            }


            function b() {
                $("#like8").attr('src', '../resources/img/2.5.png');
            }



        })
    </script>
</body>

</html>